body{
    color: white;
    font-family:'Press Start 2P';
    font-size: 48px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    font-family:'Press Start 2P';
    font-size: 16px;
    padding: 10px;
    border-radius: 0px;
    border: none;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;

}
button:hover{
    background-color: lightgrey;
}
#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: none;
    background-image: url(images/image2.jpg);
    background-size: cover; 
    background-position: bottom;
}
#taskList{
    width: 500px;
    height: 50px;
    background-color: #f0f0f0;
    margin-top: 10px;
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#taskList p{
    margin-left: 5px;
}
#addTaskButton{
    background-color: #3d71ab;
    color: white;
    margin-right: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#addTaskButton:hover{
    background-color: #2a5078;
    color: white;
}

#addtaskBox{
  
    width: 500px;
    height: 50px;
    background-color: #f0f0f0;
    margin-top: 10px;
    display: none;
    align-items: center;
    justify-content: space-between;
}

#saveButton{
    display: none;
    background-color: #3d71ab;
    color: white;
    margin-right: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#saveButton:hover{
    background-color: #2a5078;
    color: white;
}
#task-input{
    display: none;
    width: 80%;
    background-color:#f0f0f0;
    border: none;
    margin-left: 5px;
    font-size: 15px;
    font-family:'Press Start 2P';
}
#task-input:focus{
    outline: none;

}
#mainTaskList{
    width: 500px;
    height: 50px;
    background-color: #f0f0f0;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainTaskList p{
    color: black;
    width: 80%;
    font-size: 15px;
    margin-left: 5px;
}

#deleteTask{
    background-color: #3d71ab;
    color: white;
    margin-right: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#deleteTask:hover{
    background-color: #2a5078;
    color: white;
}
